<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/sidebar.css" />
        <link rel="stylesheet" href="../css/employee-signup.css" />
        <link rel="stylesheet" href="../css/footer.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>Gigatech Software Solutions SA</title>
        <script src="../javascript/employee-signup.js"></script>
  </head>
  <body>
    <header>
      <div class="header-container">
            <img class="header-logo" src="../assets/LOGO-RR 2.svg"alt="logorr"/>
            <h1>Gigatech Software Solutions SA</h1>
      </div>
    </header>
      <div class="dots">
        <img src="../assets/dots.svg" alt="menudots">
      </div>
      <div class="container">
        <aside>
          <div class="sidebar-container">
            <!--sidebar-->
            <div class="icons-container">
              <img class="icon1" src="../assets/flecha.svg" alt="flecha" />
              <img class="icon2" src="../assets/lupa.svg" alt="lupa" />
              <input class="first-input" type="text" value="search.." />
            </div>
            <div class="nav-container">
              <!--menu-->
              <nav>
                <ul>
                  <li><a href="../views/index.html">Home</a></li>
                  <li><a href="../views/employee-signup.html">SignUp</a></li>
                  <li><a href="../views/login.html">LogIn</a></li>
                  <li><a href="#">Information</a></li>
                </ul>
              </nav>
            </div>
            <div class="contactus-container">
              <!--Contact Us-->
              <p class="contactus">Contact Us</p>
              <div class="contact-item">
                <img class="contact-icon" src="../assets/email.svg" alt="emailIcon"/>
                <p class="contact-info">trackgenix@gmail.com</p>
              </div>
              <div class="contact-item">
                <img class="contact-icon" src="../assets/ubi.svg" alt="UbiIcon"/>
                <p class="contact-info">Pellegrini 3000 Rosario, Argentina</p>
              </div>
              <div class="contact-item">
                <img class="contact-icon" src="../assets/tel.svg"alt="TelIcon"/>
                <p class="contact-info">0800999000</p>
              </div>
            </div>
          </div>
        </aside>
        <main>
          <div class="form-container">
            <h2>Sign up!</h2>
            <form class="bigform-container">
              <div class="first-container">
                <fieldset id="nameContainer" class="one-container">
                    <label for="name">Name</label>
                    <input type="text" id="name">
                </fieldset>
                <fieldset id="surnameContainer" class="two-container">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname">
                </fieldset>
                <fieldset id="dniContainer"class="three-container">
                  <label for="dni">DNI</label>
                  <input type="number" id="dni">
                </fieldset>
                <fieldset id="dateofbirthContainer" class="four-container">
                  <label for="dateofbirth">Date of birth</label>
                  <input type="date" id="dateofbirth">
                </fieldset>
                <fieldset id="phoneContainer"class="five-container">
                  <label for="phone">Phone</label>
                  <input type="number" id="phone">
                </fieldset>
              </div>
              <div class="second-container">
                <fieldset id="addressContainer" class="six-container">
                  <label for="address">Address</label>
                  <input type="text" id="address">
                </fieldset>
                <fieldset id="localityContainer"class="seven-container">
                  <label for="locality">Locality</label>
                  <input type="text" id="locality">
                </fieldset>
                <fieldset id= "postcodeContainer"class="eigth-container">
                  <label for="postcode">Post Code</label>
                  <input type="numer" id="postcode">
                </fieldset>
                <fieldset id= "emailContainer"class="nine-container">
                  <label for="email">Email</label>
                  <input type="text" id="email">
                </fieldset>
                <fieldset id="passwordContainer"class="ten-container">
                  <label for="password">Password</label>
                  <input type="password" id="password">
                </fieldset>
                <fieldset id="repearPasswordContainer" class="eleven-container">
                  <label for="repeatpassword"> Repeat password</label>
                  <input type="password" id="repeatpassword">
                </fieldset>
              </div>
            </form>
            <div class="third-container">
              <input type="submit" id="button" value="Signup">
            </div>
          </div>
        </main>
      </div>
      <footer>
          <div class="footer-container">
              <!--Footer-->
              <div class="footer-name">
                  <p>© 2022 GigaTech Software Solutions SA.</p>
              </div>
              <div>
                  <a href="#"><img src="../assets/facebook.svg" alt="Facebook"/></a>
                  <a href="#"><img class="tw-icon" src="../assets/tw.svg"alt="Twitter"/></a>
                  <a href="#"><img class="li-icon" src="../assets/linkedin.svg" alt="Linkedin"/></a>
              </div>
          </div>
      </footer>
  </body>
</html>
