<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/sidebar.css" />
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/footer.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="../javascript/login.js"></script>
        <title>Gigatech Software Solutions SA</title>
  </head>
  <body>
    <header>
      <div class="header-conteiner">
            <img class="header-logo" src="../assets/LOGO-RR 2.svg"alt="logorr"/>
            <h1>Gigatech Software Solutions SA</h1>
      </div>
    </header>
      <div class="dots">
        <img src="../assets/dots.svg" alt="menudots">
      </div>
      <div class="conteiner">
        <aside>
          <div class="sidebar-conteiner">
            <!--sidebar-->
            <div class="icons-conteiner">
              <img class="icon1" src="../assets/flecha.svg" alt="flecha" />
              <img class="icon2" src="../assets/lupa.svg" alt="lupa" />
              <input class="first-input" type="text" value="search.." />
            </div>
            <div class="nav-conteiner">
              <!--menu-->
              <nav>
                <ul>
                  <li><a href="../views/index.html">Home</a></li>
                  <li><a href="../views/employee-signup.html">SignUp</a></li>
                  <li><a href="../views/login.html">LogIn</a></li>
                  <li><a href="#">Information</a></li>
                </ul>
              </nav>
            </div>
            <div class="contactus-conteiner">
              <!--Contact Us-->
              <p class="contactus">Contact Us</p>
              <div class="contact-item">
                <img class="contact-icon" src="../assets/email.svg" alt="emailIcon"/>
                <p class="contact-info">trackgenix@gmail.com</p>
              </div>
              <div class="contact-item">
                <img class="contact-icon" src="../assets/ubi.svg" alt="UbiIcon"/>
                <p class="contact-info">Pellegrini 3000 Rosario, Argentina</p>
              </div>
              <div class="contact-item">
                <img class="contact-icon" src="../assets/tel.svg"alt="TelIcon"/>
                <p class="contact-info">0800999000</p>
              </div>
            </div>
          </div>
        </aside>
        <main>
          <div class="form-conteiner">
            <h2>Log In</h2>
            <form>
                <fieldset class="first-conteiner">
                    <label for="email">Email</label>
                    <input type="text" id="email">
                </fieldset>
                <fieldset class="second-conteiner">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                    <input type="submit" id="button" value="Log In">
                </fieldset>
            </form>
          </div>
        </main>
      </div>
      <footer>
          <div class="footer-conteiner">
              <!--Footer-->
              <div class="footer-name">
                  <p>© 2022 GigaTech Software Solutions SA.</p>
              </div>
              <div>
                  <a href="#"><img src="../assets/facebook.svg" alt="Facebook"/></a>
                  <a href="#"><img class="tw-icon" src="../assets/tw.svg"alt="Twitter"/></a>
                  <a href="#"><img class="li-icon" src="../assets/linkedin.svg" alt="Linkedin"/></a>
              </div>
          </div>
      </footer>
  </body>
</html>
